[submodule "CPatMinerTest"]
	path = CPatMinerTest
	url = https://github.com/maldil/CPatMinerTest.git
[submodule "AtomicASTChangeMining/src/test/resources/ASTConversion/CPatMinerTest"]
	path = AtomicASTChangeMining/src/test/resources/ASTConversion/CPatMinerTest
	url = https://github.com/maldil/CPatMinerTest.git
